@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");

.navBar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 64px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  box-shadow: 0 -40px 50px var(--primary-color);
}

/* Logo */

.navbar-logo {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

/* Navigation */

.navBar-container ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navBar-container a {
  text-decoration: none;
  color: black;
}

.navBar-container ul a {
  transition: 0.2s ease;
}

.navBar-container ul a:hover {
  color: var(--primary-color);
}

/* Right side */

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container .icone {
  margin: 8px;
  cursor: pointer;
}

.logo-container .active {
  display: block;
}

.logo-container .hide {
  display: none;
}

/* Login buttons */

.login {
  display: flex;
  align-items: center;
}

.logo-container button {
    margin: 0 8px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
}



.language {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .language .icone {
    cursor: pointer;
  }
  
  .language-select {
    position: absolute;
    top: 35px;
    right: 0;
  
    width: 120px;
    padding: 8px 10px;
  
    border: 1px solid #ddd;
    border-radius: 8px;
  
    background: white;
    color: #222;
  
    font-size: 14px;
  
    outline: none;
    cursor: pointer;
  
    z-index: 1000;
  }
