@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
  font-style: normal;
}
:root {
  --primary-color: #00229c;
  --secondary-color: #e4e4e4;
}

.ads-container {
  width: 100%;
  height: 250px; 
}

